<ion-tabs>
  <ion-tab-bar slot="bottom" class="glass-tab">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="log" href="/tabs/log">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
