.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 16px;
}

.greeting-header {
  width: 100%;
  color: var(--text-color);
  padding: 0 16px 24px 16px;
  text-align: left;
}

.greeting-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.greeting-subtext {
  font-size: 1.2rem;
  color: var(--text-hover-color);
  margin: 0;
}
