<div class="main bg-home">
  <div class="greeting-header">
    <h1 class="greeting-title">Ready for the route?</h1>
    <p class="greeting-subtext">Climb smart. Climb steady. Have fun.</p>
  </div>

  <!-- <ion-button size="large" fill="outline" class="btn-glass" (click)="onStartSession()">{{loading? "Loading" : "Start
    Climbing"}}</ion-button> -->
  <button class="btn-glass" role="button" (click)="onStartSession()">
    {{
      loading
        ? "Loading"
        : "Start
    Climbing"
    }}
  </button>

  <div class="bottom">
    <ion-card class="glass-card-static">
      <ion-card-header>
        <ion-card-title>Safety Check from the Developer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="safety-list">
          <ul>
            <li>Always tie in properly.</li>
            <li>Double-check with a partner.</li>
            <li>Perform maneuvers safely and by the book.</li>
            <li>Never take unnecessary risks.</li>
            <li>Give clear and concise instructions.</li>
          </ul>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
