<div class="main">
  <form class="glass-form">
    <div class="email">
      <ion-item>
        <ion-input
          label="Email"
          type="email"
          placeholder="john.doe@example.com"
        ></ion-input>
      </ion-item>
    </div>

    <div class="password">
      <ion-item>
        <ion-input label="Password" type="password" [clearInput]="true"></ion-input>
      </ion-item>
    </div>

    <div class="submit">
      <button class="btn-glass" role="button">Submit</button>
    </div>
  </form>
</div>
